<ul>
    @foreach (var computer in ViewBag.Computers)
    {
        <li>@computer["computerName"]</li>
            <li>@computer["uptime"]</li>
            <li>@computer["osInfo"]</li>
            <li>@computer["cpuUsage"]</li>
            <li>@computer["installDate"]</li>
            <li>@computer["inputLocale"]</li>
            <li>@computer["systemLocale"]</li>
    }
</ul>

<ul>
    @foreach (var process in ViewBag.Processes)
    {
        <li>@process</li>
    }
</ul>